.btn {
    width: max-content;
    color: rgb(241, 73, 73);
    border: .1rem solid rgb(241, 73, 73);
}

.btn:hover {
    color: whitesmoke;
    background-color: rgb(127, 125, 125);
}

#typing {
    /*overflow: hidden;*/
    white-space: normal;
    animation: typing 1s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


#blink {
    font-size:3rem;
    animation: animate .7s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}